.center-title {
  text-align: center;
  font-weight: bold;
  font-family: fantasy;
  font-size: 10vw;
}

.center {
  text-align: center;
  font-family: fantasy;
  font-size: 4vw;
}

.box {
  border-style: solid;
  border-color: black;
  background-color: black;
  color: black;
}

.rad {
  border-radius: 20px;
}
